{% load staticfiles %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Sobre</title>
</head>
<body>
   <nav>
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/1200px-NASA_logo.svg.png" alt="Logo Nasa">
        </div>
        <h1>Sobre</h1>
    </nav>
    <figure>
        <img src="https://cdn.pixabay.com/photo/2016/10/20/18/35/sunrise-1756274_960_720.jpg" alt="">
    </figure>
    <section>
        <h2>Como iniciamos?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mauris eros, commodo nec dui vel, volutpat hendrerit libero. Nunc tellus diam, elementum eu imperdiet id, viverra vehicula neque. Praesent ante nibh, vehicula a pharetra et, luctus eu felis. Morbi bibendum urna vitae tellus pellentesque feugiat. Duis at velit nibh. Nulla ac consequat turpis. Donec sit amet sem vitae tortor consectetur tristique.

                Aenean ex neque, viverra quis malesuada facilisis, hendrerit eget lacus. Phasellus quis est vel erat lacinia suscipit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc vitae sem maximus, pharetra ipsum sit amet, vestibulum velit. Fusce in mattis nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris vel eros sagittis, accumsan orci nec, volutpat magna. Donec ac lectus purus.
                
                Proin ipsum est, venenatis sit amet blandit eget, tempor eget dolor. In porttitor nunc ut efficitur porta. Donec aliquet justo ut tempor ultricies. Quisque lobortis sollicitudin erat eget eleifend. Aliquam quis diam ut nibh ornare dictum. Nunc non cursus dui, eu laoreet dolor. Pellentesque sed ornare nisl. Vestibulum sagittis orci velit, quis tincidunt purus aliquam non. Mauris sit amet mollis ligula. Morbi est enim, feugiat non felis sed, iaculis vehicula augue. Vivamus varius velit vel commodo egestas. Mauris ultricies leo erat, ac bibendum libero mattis ac. Suspendisse ullamcorper est quis mi gravida luctus sit amet semper massa.</p>
    </section>
    <main>
        <div>
            <img src="https://cdn.pixabay.com/photo/2018/08/31/08/06/background-3644026_960_720.png" alt="">
            <h3> Topic</h3>
            <p>Stradivarius notorios blagus modelnotorios blagus modelnotorios blagus model</p>
        </div>
    </main>
    
</body>
</html>